{% extends 'header.html' %}
{% block content %}
    {% load static %}

         
         <div class="main-content">

             <div class="eligibility-criteria">
                 <div class="container">

                     <div class="loan-personal text-center">
                         <h3>Business Loan  <div class="arrow">
                         <a href="{% url 'home' %}"><img src="{% static 'images/arrow2.png' %}" width="20" height="14" alt="arrow2"></a>

                     </div></h3>
                         <p>Business loans are designed to help small businesses and entrepreneurs meet their capital requirements. There are over 20 banks and financial institutions in the country that offer tailor-made business loans at attractive interest rates to suit your financial requirements.</p>

                     </div>
                     <div class="eligibility-in" id="parentHorizontalTab">
                         <div class="features-links">
                             <ul class="d-flex flex-wrap resp-tabs-list hor_1">
                                 <li class="col-md-4">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                             <h5>Features and Benefits</h5>

                                         </div>

                                     </a>

                                 </li>
                                  <li class="col-md-4">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Eligibility-Criteria.svg' %}" width="22" height="20" alt="eligbilty"></span>
                                             <h5>Eligibility Criteria</h5>

                                         </div>

                                     </a>

                                 </li>
                                      <li class="col-md-4 ">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Required-Documents.svg' %}" width="15" height="20" alt="required"></span>
                                             <h5>Required Documents</h5>

                                         </div>

                                     </a>

                                 </li>


                             </ul>

                         </div>
                         <div class="features-tab-content">
                               <div class="resp-tabs-container hor_1">
                                   <div>
                             <div class="feature-inner d-flex  flex-wrap">
                                 <div class="features-left features-left_1 col-lg-4 col-md-12">
                                     <h3>Features and<br>
Benefits</h3>
                                     <p>Small business loans help your business in many ways such as financing new equipment, increasing your inventory, and funding expansion plans. Some other benefits of small business loans are explained here.
</p>

                                 </div>
                                 <div class="features-right col-lg-8 col-md-12">
                                     <ul class="d-flex flex-wrap features">
                                         <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                  <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3>Flexibility</h3>
                                                 <p>You can choose from various types of loans to fulfil specific business requirements. Various government schemes such as CGTMSE and other similar schemes offer business loans that are designed for MSEs for starting, expanding, or upgrading the facility. Government schemes such as CGTMSE does not require any security or third-party guarantee. The guarantee cover is provided to the financial institution by the trust itself.
                                                      </p></div>
                                             </div>

                                         </li>
                                         <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                   <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3> Convenient Repayment</h3>
                                                 <p>The flexible nature of business loans reflects in their repayment options as well. Banks offer such flexibility because they understand the complexities involved with businesses and their plans are designed accordingly. They may offer a repayment plan as per the cash flow to avoid the difficulties in financial management. Also, borrowers may increase or decrease the EMI as per the financial condition of the company. They can also choose bullet payments for periodic repayment.
                                                       </p></div>
                                             </div>

                                         </li>
                                            <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                   <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3>Low Rates of Interest</h3>
                                                 <p>Banks are different from private lending institutions and their rates of interest are also lower. It happens mostly in the case of government-backed schemes as they are designed for public welfare, not for the benefit of the financial institution. Also, rates of interest are not determined just on the basis of the loan amount. A number of factors are kept in mind such as tenure of the loan, viability of the business model, financial condition of the company, and credentials of the borrower. Other costs such as processing fee are nominal and are one-time expenses.
                                                       </p></div>
                                             </div>

                                         </li>
                                            <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                   <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3>Easy Availability</h3>
                                                 <p>Many banks, including some private lending institutions, offer small business loans without collateral. This makes it easy for small entrepreneurs to avail such loans and sustain their ventures. Also, EMI calculators and online applications provided by most banks on their websites have made the process much easier than it used to be.</p>
                                             </div>
                                                </div>

                                         </li>
                                         <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                   <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3>Grow Your Business</h3>
                                                 <p>Finance, manpower, and technology are the essential needs of any business. Among all of them, finance is a key aspect that makes it possible for a business to ensure all the other needs are met. Thus, the required cash flow can be highly crucial for expanding a business as it can be used for different purposes to grow your business. You can arrange another facility or purchase required equipment to speed up your business. In addition, owners also have the freedom to use the money as per their preference. It enables them to utilise the funds according to the needs of the business.
</p>
                                                 </div>                   </div>

                                         </li>
                                     <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                   <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3>Tax Benefits</h3>
                                                 <p>Small business loans allow you to save some tax benefits as well. This is because there are sections of the Income Tax Act that state the percentage of profit utilised for repaying the loan amount is exempt from the tax.

                                                       </p></div>
                                             </div>

                                         </li>

                                     </ul>

                                 </div>

                             </div>

                                       </div>
                                   <div class="resp-tab-content-active">
                              <div class=" feature-inner d-flex flex-wrap align-items-center">
                                 <div class="features-left col-lg-4 col-md-12">
                                     <h3>Eligibility<br>
Criteria</h3>
                                     <p>Listed below are the general conditions for eligibility for a Small Business Loan set by financial lenders”.</p>
                                       <div class="product-left p-0">

                                      <ul>
                                          <li><p>The applicant should be a resident of India.</p></li>
                                          <li><p>The applicant should be a self-employed individual with at least 3 years business experience.</p></li>
                                          <li><p>Should be a minimum of 21 years.</p></li>
                                          <li><p>Should provide proof of business turnover and IT returns of the last 2-3 financial years.
</p></li>
                                          <li><p>Balance sheet of the business should show profitability.
</p></li>


                                      </ul>

                                     </div>

                                 </div>
                                 <div class="features-right features-right1 col-lg-8 col-md-12">

                                    <div class="product-right">
                                      <div class="form-wizard">
                                       <div class="wizard-step">
                                           <ul class="d-flex form-wizard-steps">
                                           <li class="active"><em><span class="d-flex align-items-center justify-content-center">1</span></em>
                                               <h6>Personal Details</h6></li>
                                                <li><em><span class="d-flex align-items-center justify-content-center">2</span></em>
                                               <h6>Loan Details</h6></li>

                                           </ul>

                                         </div>

                                             <div class="wizard-fieldset show">

                                         <div class="personal-form">
                                             <form>
                                                 <ul class="d-flex flex-wrap">
                                                     <li class="col-md-6">
                                                         <select>
      <option data-display="Personal Loan">Personal Loan</option>
       <option value="1">Home Loan</option>
     <option value="2">Business Loan</option>
     <option value="3">Vehicle Loan</option>


</select></li>
                                                      <li class="col-md-6">

                        <input type="text" class="form-control" placeholder="Full Name as per PAN" name="name" id="name" >
                     </li>
                     <li class="col-md-6">

                        <input type="tel" class="form-control" placeholder="Mobile Number" name="phone" id="phone">
                     </li>
                     <li class="col-md-6"><label></label>

                        <input type="email" class="form-control" placeholder="Email ID" id="email" name="email">
                     </li>
                                                      <li class="col-md-6">
                                                         <select>
      <option data-display="Occupation Type">Occupation Type</option>
       <option value="1">Salaried</option>
     <option value="2">Self-Employed Professional</option>
     <option value="3">Self-Employed Business</option>

</select></li>

                                                     <li class="col-md-6">
                                                         <select>
      <option data-display="Your current city">Your current city</option>
       <option value="1">Hyderabad</option>
     <option value="2">Chennai</option>
     <option value="3">Mumbai</option>
     <option value="3">Banglore</option>
     <option value="3">Pune</option>

</select></li>

                                                 </ul>
                                               <button type="button" class="btn form-wizard-next-btn">CONTINUE</button>

                                             </form>

                                         </div>
                                             </div>
                                             <div class="wizard-fieldset">

                                         <div class="personal-form">
                                             <form>

                                                 <ul class="d-flex flex-wrap">
                                                     <li class="col-md-6">
                                                        <input type="number" class="form-control" placeholder="Required Loan amount">
</li>
                                                      <li class="col-md-6">

                        <input type="text" class="form-control" placeholder="Company Working" name="company" id="company" required>
                     </li>
                     <li class="col-md-6">

                        <input type="number" class="form-control" placeholder="Take home Salary Monthly" name="salary" id="salary"  required>
                     </li>
                     <li class="col-md-6">

                        <input type="number" class="form-control" placeholder="Existing loan EMI amount (per Month)" id="amount" name="amount">
                     </li>


                                                 </ul>
                                                 <div class="previous">
                                                     <ul class="d-flex">
                                                         <li>
                                                 <button type="button" class="btn form-wizard-previous-btn">previous</button>
                                                             </li>
                                                         <li>
                                               <button type="button" class="btn form-wizard-submit">SUBMIT</button>
                                                             </li>
                                                         </ul>
                                                     </div>

                                             </form>

                                         </div>
                                             </div>



                                     </div>

                                     </div>

                                 </div>


                             </div>
                                       </div>
                                   <div>

                                   <div class=" feature-inner d-flex flex-wrap">
                                 <div class="features-left features-left_2 col-md-4">
                                     <h3>Required<br>
Documents</h3>

                                     <p>Listed below are the documents that Small Business loan applicants will have to submit for verification:
</p>

                                 </div>
                                 <div class="features-right features-right1 col-md-8">
                                     <ul class="d-flex flex-wrap">


                                         <li class="col-md-12">
                                             <div class="features-right-cnt">

                                                       <ul>
                                                     <li><p><small></small> Proof of identity – Aadhaar card, Passport, Voter ID Card, etc.</p></li>
                                                      <li><p><small></small>Proof of address – Passport, Utility bill, Voter ID card, etc.
</p></li>
                                                     <li><p><small></small>6 months’ bank statements.

</p></li>
                                                     <li><p><small></small>Business Income Tax Certificate, Balance sheet showing profits and loss of the last 2 years that has been certified by a Chartered Accountant.

</p></li>

                                                     <li><p><small></small>Proof of business – establishment license, trade license, etc.
</p></li>

                                                           <li><p><small></small>Sole proprietor deed, partnership deed, etc.

</p></li>
                                                               <li><p><small></small>House property or commercial property documents – for secured business loans.


</p></li>



                                                 </ul>

                                             </div>

                                         </li>

                                     </ul>

                                 </div>

                             </div></div>

                             </div>
                         </div>

                     </div>

                 </div>

             </div>

             </div>

{% endblock %}
          
            
         
