<!DOCTYPE html>
<html lang="es">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="format-detection" content="telephone=no">
      <title>Shopfins | Personal Loan Enquiry</title>
      <!-- SET: FAVICON -->
      <link rel="shortcut icon" type="image/x-icon" href="images/fav-Icon.svg">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://kenwheeler.github.io/slick/slick/slick.css">
      <link rel="stylesheet" href="https://kenwheeler.github.io/slick/slick/slick-theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://jqueryniceselect.hernansartorio.com/css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
       
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" href="css/responsive.css">
       
      <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.min.js"></script>
      <script type="text/javascript" src="js/IE9.js"></script>
      <style></style>
      <![endif]-->
   </head>
   <body>
      <div class="wrapper">
         <header>
            <div class="container">
               <div class="header-in">
                  <nav class="navbar navbar-expand-md">
                     <!-- Brand/logo -->
                     <a class="navbar-brand" href="home.html"><img src="images/Shopfins%20Logo%20Blue%20(1).svg" width="180" height="35" alt="logo"></a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                     <span></span>
                     <span></span>
                     <span></span>
                     </button>
                     <!-- Links -->
                     <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto">
                             <li class="nav-item mega">
                              <a class="nav-link  drop" href="#">Products</a>
                                 <div class="mega-menu">
                                    <div class="mega-inner">
                                     <div class="mega-menu-cnt">
                                   <h6> Loans</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="personal-loan.html">Personal Loan</a></li>
                                         <li>
                                         <a href="home-loan.html">Home Loan</a></li>
                                         <li>
                                         <a href="business-loan.html">Business Loan</a></li>
                                         <li>
                                         <a href="auto-loan.html">auto Loan</a></li>
                                         <li>
                                         <a href="mortage-loan.html">Mortgage Loan</a></li>
                                         
                                         
                                     
                                     </ul>
                             </div>
                 </div>
                                     <div class="mega-menu-cnt">
                                   <h6> Insurance</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="life-insurance.html">Life Insurance</a></li>
                                         <li>
                                         <a href="motor-insurance.html">Motor insurance</a></li>
                                         <li>
                                         <a href="health-insurance.html">Health insurance</a></li>
                                          
                                        
                                         
                                         
                                     
                                     </ul>
                             </div>
                 </div>
                                     <div class="mega-menu-cnt mega-menu-cnt1">
                                   <h6>Investments</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="mutual-fund.html">Mutual Funds</a></li>
                                         <li>
                                         <a href="stock-trading.html">Stock Trading</a></li>
                                          <li>
                                         <a href="bonds.html">Bonds</a></li>
                                         
                                         
                                     
                                     </ul>
                             </div>
                 </div>
                                       </div> 
                                      
                                 </div>
                           </li>
                           
                           <li class="nav-item">
                              <a class="nav-link" href="cibil.html">Cibil</a>
                           </li>
                             <li class="nav-item">
                              <a class="nav-link" href="#">EMI Calculators</a>
                           </li>
                              
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </header>
         <div class="banner">
            <div class="container">
                 <div class="banner-cnt d-flex flex-wrap align-items-center">
                        <div class="banner-left col-lg-6 col-md-7">
                           <h2>Coming Soon!</h2>
                           
                           <p>In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document or a typeface without relying on meaningful content.</p>
                            
                        </div>
                        <div class="banner-right col-lg-6 col-md-5">
                           <figure><img src="images/CibilTheme.svg" width="600" height="549" alt="cibil"></figure>
                        </div>
                     </div>
            </div>
         </div>
       
          <footer>
            <div class="container">
               <div class="footer-in">
                  <div class="footer-logo">
                     <a href="#"><img src="images/Shopfins%20Logo%20white.svg" width="180" height="35"
                        alt="footer-logo"></a>
                  </div>
               
                    
                  <ul class="d-md-flex flex-wrap justify-content-between">
                       
                     <li>
                        <ul>
                           <li>
                               
                              <h5 class="text-uppercase">COMPANY</h5>
                            </li>
                                
                            <li>
                              <a  href="about-us.html">About Us</a>
                           </li>
                            <li>
                              <a  href="cibil.html">Cibil</a>
                           </li>
                           <li><a href="#">EMI Calculators</a></li>
                            
                            
                           <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                     </li>
                      <li>
                        <ul>
                           <li>
                               
                              <h5 class="text-uppercase">PRODUCTS</h5>
                            </li>
                                
                            <li>
                              <a  href="personal-loan.html">Personal Loan</a>
                           </li>
                            <li>
                              <a  href="home-loan.html">Home Loan</a>
                           </li>
                           <li><a href="business-loan.html">Business Loan</a></li>
                            <li><a href="auto-loan.html">Auto Loan</a></li>
                             <li><a href="mortage-loan.html">Mortage Loan</a></li>

                            
                          
                        </ul>
                     </li>
                    
                    
                     
                    
                     <li>
                          
                        <ul>
                           <li>
                              <h5 class="text-uppercase">GET IN TOUCH</h5>
                           </li>
                           <li><a href="mailto:hello@shopfins.com">Email Id: hello@shopfins.com</a></li>
                           <li><a href="tel:919908419612">Phone No: +91 9908419612 </a></li>
                        </ul>
                     </li>
                     <li>
                        <h5 class="text-uppercase">CONNECT </h5>
                         <ul class="d-flex social">
                           <li><a href="https://www.facebook.com/Shopfins-101130045059366" target="_blank"><img src="images/Facebook.svg" width="30" height="30" alt="facebook"></a></li>
                           <li><a href="https://www.instagram.com/theshopfins/" target="_blank"><img src="images/Instagram.svg" width="30" height="30" alt="instagram"></a></li>
                           <li><a href="https://www.linkedin.com/company/69441204/admin/" target="_blank"><img src="images/Linked%20In.svg" width="30" height="30" alt="linkednin"></a></li>
                           <li><a href="https://twitter.com/shopfins" target="_blank"><img src="images/Twitter.svg" width="30" height="30" alt="twitter"></a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </footer>
         <div class="contact-me">
            <a class="d-flex align-items-center justify-content-center" href="tel:919908419612"><img src="images/phone-handset.png" width="40" height="40" alt="phone"></a>
             <div class="tool-tip">
                 <div class="tool-tip-in">
                     <em>WhatsApp</em>
                 
                 </div>
             
             </div>
         </div>

          <div class="whatsapp">
              <a  href="https://api.whatsapp.com/send?phone=+91 9908419612" target="_blank" class="d-flex align-items-center justify-content-center">
            <img src="images/whatsapp.png" width="50" height="50" alt="whatsapp">
                  </a>
              <div class="tool-tip">
                 <div class="tool-tip-in">
                     <em>WhatsApp</em>
                 
                 </div>
             
             </div>
          
          </div>
      </div>
      <!-- jQuery library --> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     
       <script>
           $(document).ready(function(e){
               $('nav   ul  li.mega').click(function(e){
                   $(this).parent().find('.mega-menu').slideDown();
                   $(this).parent().siblings().find('.mega-menu').slideUp();  
               }) 
           })
       </script>
       <script>
           $(document).ready(function(e){
                 if($(window).width() < 767){
               $('.mega-menu h6').click(function(e){
                    $(this).parent().addClass('active');
                      $(this).parent().siblings().removeClass('active');
                   $(this).parent().find('.mega-cnt-inner').slideToggle();
                   $(this).parent().siblings().find('.mega-cnt-inner').slideUp();
               })
                 }
               else{
                   
               }
               
           })
       </script>
      
   </body>
</html>