<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="format-detection" content="telephone=no">
      <title>Shopfins | Personal Loan Enquiry</title>
      <!-- SET: FAVICON -->
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/fav-Icon.svg' %}">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://kenwheeler.github.io/slick/slick/slick.css">
      <link rel="stylesheet" href="https://kenwheeler.github.io/slick/slick/slick-theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://jqueryniceselect.hernansartorio.com/css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

      <!--[if lt IE 9]>
      <script type="text/javascript" src="{% static 'js/html5shiv.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/IE9.js' %}"></script>
      <style></style>
      <![endif]-->
   </head>
   <body>
      <div class="wrapper">
         <header>
            <div class="container">
               <div class="header-in">
                  <nav class="navbar navbar-expand-md">
                     <!-- Brand/logo -->
                     <a class="navbar-brand" href="#"><img src="{% static 'images/Shopfins%20Logo%20Blue%20(1).svg' %}" width="180" height="35" alt="logo"></a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                     <span></span>
                     <span></span>
                     <span></span>
                     </button>
                     <!-- Links -->
                     <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto">
                             <li class="nav-item mega">
                              <a class="nav-link  drop" href="#">Products</a>
                                 <div class="mega-menu">
                                    <div class="mega-inner">
                                     <div class="mega-menu-cnt">
                                   <h6> Loans</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="{% url 'personal-loan' %}">Personal Loan</a></li>
                                         <li>
                                         <a href="{% url 'home-loan' %}">Home Loan</a></li>
                                         <li>
                                         <a href="{% url 'business-loan' %}">Business Loan</a></li>
                                         <li>
                                         <a href="{% url 'auto-loan' %}">Vehicle Loan</a></li>


                                     </ul>
                             </div>
                 </div>
                                     <div class="mega-menu-cnt">
                                   <h6> Insurance</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="{% url 'life-insurance' %}">Life Insurance</a></li>
                                         <li>
                                         <a href="{% url 'motor-insurance' %}">Motor insurance</a></li>
                                         <li>
                                         <a href="{% url 'health-insurance' %}">Health insurance</a></li>





                                     </ul>
                             </div>
                 </div>
                                     <div class="mega-menu-cnt mega-menu-cnt1">
                                   <h6>Investments</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="{% url 'mutual-fund' %}">Mutual Funds</a></li>
                                         <li>
                                         <a href="{% url 'stock-trading' %}">Stock Trading</a></li>
                                          <li>
                                         <a href="{% url 'bonds' %}">Bonds</a></li>



                                     </ul>
                             </div>
                 </div>
                                       </div>

                                 </div>
                           </li>



                            <li class="nav-item finance">
                              <a class="nav-link" href="#">EMI Calculators</a>

                                   <ul class="finance-drop">
                                         <li><a href="{% url 'personal-loan-calculator' %}">Personal Loan EMI Calculator</a></li>
                                        <li><a href="{% url 'home-loan-calculator' %}">Home Loan EMI Calculator</a></li>
                                        <li><a href="{% url 'car-loan-calculator' %}">Car Loan EMI Calculator</a></li>




                                   </ul>


                           </li>
                              <li class="nav-item"><a href="{% url 'Sign-in' %}" class="nav-link sign">Sign In</a></li>

                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </header>
         {% block content %}
          {% endblock %}
        <div class="get-in-touch">
                 <figure><img src="{% static 'images/get-in-touch.png' %}" width="1920" height="340" alt="get"></figure>
                 <div class="get-inner">
                 <div class="container text-center">
                     <h3>Get In touch with an Executive</h3>
                     <a href="{% url 'contact-us' %}" class="btn">CONTACT US</a>
                 </div>
                     </div>

             </div>
        <footer>
            <div class="container">
               <div class="footer-in">
                  <div class="footer-logo">
                     <a href="#"><img src="{% static "images/Shopfins%20Logo%20white.svg" %}" width="180" height="35"
                        alt="footer-logo"></a>
                  </div>


                  <ul class="d-md-flex flex-wrap justify-content-between">

                     <li>
                        <ul>
                           <li>

                              <h5 class="text-uppercase">COMPANY</h5>
                            </li>

                            <li>
                              <a  href="{% url 'about-us' %}">About Us</a>
                           </li>

                           <li><a href="{% url 'contact-us' %}">Contact Us</a></li>
                        </ul>
                     </li>
                      <li>
                        <ul>
                           <li>

                              <h5 class="text-uppercase">PRODUCTS</h5>
                            </li>

                            <li>
                              <a  href="{% url 'personal-loan' %}">Personal Loan</a>
                           </li>
                            <li>
                              <a  href="{% url 'home-loan' %}">Home Loan</a>
                           </li>
                           <li><a href="{% url 'business-loan' %}">Business Loan</a></li>
                            <li><a href="{% url 'auto-loan' %}">Vehicle Loan</a></li>




                        </ul>
                     </li>




                     <li>

                        <ul>
                           <li>
                              <h5 class="text-uppercase">GET IN TOUCH</h5>
                           </li>
                           <li><a href="mailto:hello@shopfins.com">Email Id: hello@shopfins.com</a></li>
                           <li><a href="tel:919908419612">Phone No: +91 9908419612 </a></li>
                        </ul>
                     </li>
                     <li>
                        <h5 class="text-uppercase">CONNECT </h5>
                        <ul class="d-flex social">
                           <li><a href="https://www.facebook.com/Shopfins-101130045059366" target="_blank"><img src="{% static 'images/Facebook.svg' %}" width="30" height="30" alt="facebook"></a></li>
                           <li><a href="https://www.instagram.com/theshopfins/" target="_blank"><img src="{% static 'images/Instagram.svg' %}" width="30" height="30" alt="instagram"></a></li>
                           <li><a href="https://www.linkedin.com/company/69441204/admin/" target="_blank"><img src="{% static 'images/Linked%20In.svg' %}" width="30" height="30" alt="linkednin"></a></li>
                           <li><a href="https://twitter.com/shopfins" target="_blank"><img src="{% static 'images/Twitter.svg' %}" width="30" height="30" alt="twitter"></a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </footer>
       <div class="contact-form">
            <div class="form">
               <div class="close">
                  <a href="#"><img src="images/close.png" width="15" height="15" alt="close"></a>
               </div>
               <form action="mail.php" method="POST">
                  <h6>Drop a Word</h6>
                  <ul>
                     <li><label></label>
                        <span class="info" id="usernameinfo"></span>
                        <input type="text" class="form-control" placeholder="Fullname" name="name" id="name" required>
                     </li>
                     <li><label></label>
                        <span class="info" id="usercontactinfo"></span>
                        <input type="tel" class="form-control" placeholder="Phone" name="phone" id="phone"  min-lenght="10" pattern="[789][0-9]{9}" required>
                     </li>
                     <li><label></label>
                        <span class="info" id="useremailinfo"></span>
                        <input type="email" class="form-control" placeholder="Email" id="email" name="email">
                     </li>
                     <li>
                        <label>Message</label>
                        <span class="info" id="usermessageinfo"></span>
                        <textarea class="form-control textarea" name="message" id="message"></textarea>
                     </li>
                  </ul>
                  <button type="submit" class="btn submit_btn" value="submit">submit
                  </button>
               </form>
            </div>
         </div>
         <div class="contact-me">
            <a class="d-flex align-items-center justify-content-center" href="tel:919908419612"><img src="{% static 'images/call.svg' %}" width="50" height="50" alt="phone"></a>
             <div class="tool-tip">
                 <div class="tool-tip-in">
                     <em>call</em>

                 </div>

             </div>
         </div>

          <div class="whatsapp">
              <a  href="https://api.whatsapp.com/send?phone=+919908419612" target="_blank" class="d-flex align-items-center justify-content-center">
            <img src="{% static 'images/whatsapp.svg' %}" width="50" height="50" alt="whatsapp">
                  <div class="tool-tip">
                 <div class="tool-tip-in">
                     <em>WhatsApp</em>

                 </div>

             </div>
                  </a>

          </div>
          <div class="go-to-top">
              <a class="top-link hide" href=""id="back-to-top"><img src="{% static 'images/Go-to-top.svg' %}" width="80" height="80" alt="top"></a>

          </div>
      </div>
      <!-- jQuery library -->
       <script src="https://codepen.io/alexandrebuffet/pen/zNpmpx"></script>
       <script src=
               "https://github.com/marvinhuebner/slick-animation"></script>
        <script src="https://webthemez.com/demo/easy-responsive-tabs/js/jquery-1.9.1.min.js"></script>

    <script src="https://webthemez.com/demo/easy-responsive-tabs/js/easyResponsiveTabs.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
       <script src="https://webthemez.com/demo/easy-responsive-tabs/js/jquery-1.9.1.min.js"></script>
<script src="https://webthemez.com/demo/easy-responsive-tabs/js/easyResponsiveTabs.js"></script>
      <script src="https://kenwheeler.github.io/slick/slick/slick.js"></script>
       <script src="https://jqueryniceselect.hernansartorio.com/js/jquery.nice-select.min.js"></script>


      <script>
         $(document).ready(function(e){
             $('.multiple-items').slick({
         infinite:true,
         slidesToShow: 1,
         slidesToScroll: 1,
        centermode:true,
         dots:true,
         arrows:false,
         autoplay:true,
        pauseOnHover:false,
                 adaptiveHeight:true,
         speed:3000,

         });
         })

      </script>
     <script>

       $(document).ready(function() {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier

            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
                 setTimeout(function() {
             $('.resp-accordion.resp-tab-active')[0].scrollIntoView();
         }, 500);



            }


        });

        // Child Tab
        $('#ChildVerticalTab_1').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true,
            tabidentify: 'ver_1', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });
        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
       </script>
        <script>
         $(document).ready(function(e){
             $('.slider').slick({
         infinite: true,
         slidesToShow: 1,
         slidesToScroll: 1,
         dots:false,
         arrows:true,
         autoplay:true,
         speed:1000,

         });
         })

      </script>
       <script>
           $(document).ready(function() {
  $('select').niceSelect();
});
       </script>
       <script>
           $(document).ready(function(e){
               $('nav   ul  li.mega a').click(function(e){
                   $(this).parent().find('.mega-menu').slideDown();
                   $(this).parent().siblings().find('.mega-menu').slideUp();
                   $(this).parent().siblings().find('.finance-drop').slideUp();




               })
           })
       </script>
       <script>
           $(document).ready(function(e){
                 if($(window).width() < 767){
               $('.mega-menu h6').click(function(e){
                   $(this).parent().addClass('active');
                     $(this).parent().siblings().removeClass('active');
                   $(this).parent().find('.mega-cnt-inner').slideToggle();
                   $(this).parent().siblings().find('.mega-cnt-inner').slideUp();
                   $(this).parent().siblings().find('.mega-menu').slideUp();


               })
                 }
               else{

               }

           })
       </script>
       <script>
           $(document).ready(function(e){
                if($(window).width() < 767){
               $('nav   ul  li.finance a').click(function(e){
                   $(this).parent().find('.finance-drop').slideToggle();
                 $(this).parent().siblings().find('.mega-menu').slideUp();



               })
                }
               else{

               }

           })

       </script>
       <script>
           $(document).ready(function(e){
               jQuery(document).ready(function() {
	// click on next button
	jQuery('.form-wizard-next-btn').click(function() {
		var parentFieldset = jQuery(this).parents('.wizard-fieldset');
		var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
		var next = jQuery(this);
		var nextWizardStep = true;
		parentFieldset.find('.wizard-required').each(function(){
			var thisValue = jQuery(this).val();

			if( thisValue == "") {
				jQuery(this).siblings(".wizard-form-error").slideDown();
				nextWizardStep = false;
			}
			else {
				jQuery(this).siblings(".wizard-form-error").slideUp();
			}
		});
		if( nextWizardStep) {
			next.parents('.wizard-fieldset').removeClass("show","400");
			currentActiveStep.removeClass('active').addClass('activated').next().addClass('active',"400");
			next.parents('.wizard-fieldset').next('.wizard-fieldset').addClass("show","400");
			jQuery(document).find('.wizard-fieldset').each(function(){
				if(jQuery(this).hasClass('show')){
					var formAtrr = jQuery(this).attr('data-tab-content');
					jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function(){
						if(jQuery(this).attr('data-attr') == formAtrr){
							jQuery(this).addClass('active');
							var innerWidth = jQuery(this).innerWidth();
							var position = jQuery(this).position();
							jQuery(document).find('.form-wizard-step-move').css({"left": position.left, "width": innerWidth});
						}else{
							jQuery(this).removeClass('active');
						}
					});
				}
			});
		}
	});
	//click on previous button
	jQuery('.form-wizard-previous-btn').click(function() {
		var counter = parseInt(jQuery(".wizard-counter").text());;
		var prev =jQuery(this);
		var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
		prev.parents('.wizard-fieldset').removeClass("show","400");
		prev.parents('.wizard-fieldset').prev('.wizard-fieldset').addClass("show","400");
		currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active',"400");
		jQuery(document).find('.wizard-fieldset').each(function(){
			if(jQuery(this).hasClass('show')){
				var formAtrr = jQuery(this).attr('data-tab-content');
				jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function(){
					if(jQuery(this).attr('data-attr') == formAtrr){
						jQuery(this).addClass('active');
						var innerWidth = jQuery(this).innerWidth();
						var position = jQuery(this).position();
						jQuery(document).find('.form-wizard-step-move').css({"left": position.left, "width": innerWidth});
					}else{
						jQuery(this).removeClass('active');
					}
				});
			}
		});
	});
	//click on form submit button
	jQuery(document).on("click",".form-wizard .form-wizard-submit" , function(){
		var parentFieldset = jQuery(this).parents('.wizard-fieldset');
		var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
		parentFieldset.find('.wizard-required').each(function() {
			var thisValue = jQuery(this).val();
			if( thisValue == "" ) {
				jQuery(this).siblings(".wizard-form-error").slideDown();
			}
			else {
				jQuery(this).siblings(".wizard-form-error").slideUp();
			}
		});
	});
	// focus on input field check empty or not
	jQuery(".form-control").on('focus', function(){
		var tmpThis = jQuery(this).val();
		if(tmpThis == '' ) {
			jQuery(this).parent().addClass("focus-input");
		}
		else if(tmpThis !='' ){
			jQuery(this).parent().addClass("focus-input");
		}
	}).on('blur', function(){
		var tmpThis = jQuery(this).val();
		if(tmpThis == '' ) {
			jQuery(this).parent().removeClass("focus-input");
			jQuery(this).siblings('.wizard-form-error').slideDown("3000");
		}
		else if(tmpThis !='' ){
			jQuery(this).parent().addClass("focus-input");
			jQuery(this).siblings('.wizard-form-error').slideUp("3000");
		}
	});
});

           })


       </script>
       <script>
       $(document).ready(function(e){
            //hide all tabs first
$('.tab-content-wrapper').hide();
//show the first tab content
$('#tab-0').show();

$('#select-box').change(function () {
   dropdown = $('#select-box').val();
  //first hide all tabs again when a new option is selected
  $('.tab-content-wrapper').hide();
  //then show the tab content of whatever option value was selected
  $('#' + "tab-" + dropdown).show();
});
       })
       </script>
<script>
	$(document).ready(function(e){

        $('.inurance-tab-links ul li a').click(function(e){
    		var target = "." + $(this).attr('data-index');
            $(target).fadeIn();
            $(target).siblings().hide();
			$(this).closest().toggleClass('active');
			$(this).closest().siblings().removeClass('active');
            	$(this).parent().addClass('active');
			$(this).parent().siblings().removeClass('active');

        });
  });
</script>
       <script>
       $(document).ready(function(e){
           $(function() {
  $('.scroll a[href*=#]').on('click', function(e) {
    e.preventDefault();
    $('html, body').animate({ scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
  });
});
       })

       </script>
       <script>
       $(document).ready(function(e){
           var btn = $('#back-to-top');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
});


       })

       </script>







     <script>

       $(document).ready(function(e){
           $("ul.resp-tabs-list > li").removeClass("resp-tab-active");
           $("ul.resp-tabs-list > li:nth-child(2)").addClass("resp-tab-active");
$("div.resp-tabs-container > h2").removeClass("resp-tab-active");
$("div.resp-tabs-container > div").removeClass("resp-tab-content-active");
$("div.resp-tabs-container > div").hide();

$('ul.resp-tabs-list   li[aria-controls="tab_item-2"]').addClass("resp-tab-active");
$('div.resp-tabs-container  h2[aria-controls="tab_item-2"]').addClass("resp-tab-active");
$('div.resp-tabs-container  div[aria-labelledby="hor_1_tab_item-1"]').addClass("resp-tab-content-active");
$('div.resp-tabs-container  div[aria-labelledby="hor_1_tab_item-1"]').show();
        })

       </script>

   </body>
</html>