{% extends 'header.html' %}
{% block content %}
    {% load static %}
    <div class="eligibility-criteria">
                 <div class="container">

                     <div class="loan-personal text-center">
                         <h3>Life Insurance <div class="arrow">
                         <a href="{% url 'home' %}"><img src="{% static 'images/arrow2.png' %}" width="20" height="14" alt="arrow2"></a>

                     </div></h3>
                          <p>Life Insurance is a contract between an insurance policyholder and an insurance company, where the insurer promises to pay a sum of money in exchange for a premium after a set period or upon the death of an insured person. </p>

                     </div>
                     <div class="eligibility-in" id="parentHorizontalTab">
                         <div class="features-links">
                             <ul class="d-flex flex-wrap resp-tabs-list hor_1">
                                 <li class="col-md-4">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Get%20quote.svg' %}" width="30" height="20" alt="quote"></span>
                                             <h5>Get Quote</h5>

                                         </div>

                                     </a>

                                 </li>
                                  <li class="col-md-4">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Types-of-policies.svg' %}" width="22" height="20" alt="polices"></span>
                                             <h5>Types of Policies</h5>

                                         </div>

                                     </a>

                                 </li>
                                 <li class="col-md-4">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                             <h5>Features and Benefits</h5>

                                         </div>

                                     </a>

                                 </li>

<!--
                                 <li class="col-md-3">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/FAQ's.svg" width="22" height="20" alt="required"></span>
                                             <h5>FAQ'S</h5>

                                         </div>

                                     </a>

                                 </li>
-->

                             </ul>

                         </div>
                         <div class="features-tab-content">
                               <div class="resp-tabs-container hor_1">
                                   <div>
                             <div class="feature-inner d-flex  flex-wrap">
                                 <div class="features-left  col-lg-4 col-md-12">
                                     <h3>Get Quote</h3>
                                <div class="product-left p-0">
                                    <ul>
                                        <li>
                                     <p>Life Insurance refers to a policy or cover whereby the policyholder can ensure financial freedom for his/her family members after death. Suppose you are the sole earning member in your family, supporting your spouse and children.</p>
                                     <p>
                                        </li>
                                        <li>
                                        <p>
In such an event, your death would financially devastate the whole family. Life insurance policies ensure that such a thing does not happen by providing financial assistance to your family in the event of your passing.
                                            </p></li>
                                    </ul>
                                     </div>

                                 </div>
                                 <div class="features-right col-lg-8 col-md-12">
                                    <div class="quote-blk">
                                        <div class="inurance-tab-links p-0">
                                           <ul class="d-flex justify-content-center">
                                               <li class="col-md-4">
                                               <a>
                                                   <div class="insurance-cnt">
                                                       <em>
                                                       <span class="d-flex align-items-center justify-content-center">
                                                        <figure><img src="{% static 'images/Life-insurance-White.svg' %}" width="22" height="33" alt="lifeinsuarance-white"></figure>
                                                            </span>
                                                       </em>
                                                       <h6>Life Insurance</h6>
                                                   </div>

                                                   </a></li>

                                            </ul>
                                        </div>

                                        <div class="personal-form">
                                             <form>
                                                 <ul class="d-flex flex-wrap">

                                                      <li class="col-md-6">

                        <input type="text" class="form-control" placeholder="Member Full Name">
                     </li>
                     <li class="col-md-6">

                        <input type="tel" class="form-control" placeholder="Mobile Number" name="phone" id="phone">
                     </li>
                     <li class="col-md-6">

                        <input type="number" class="form-control" placeholder="Pincode">
                     </li>

                                                 </ul>


                                             </form>
                                            <a href="personal-loan.html" class="btn">GET QUOTE</a>

                                         </div>

                                     </div>

                                 </div>

                             </div>
                                                             </div>
                                   <div>
                             <div class="feature-inner d-flex  flex-wrap">
                                 <div class="features-left features-left_2 col-lg-4 col-md-12">
                                     <h3>Types of<br>
Policies</h3>
                                     <p>In life, unplanned expenses are a bitter truth. Even when you think that you are financially secure, a sudden or unforeseen expenditure can significantly hamper this security. Depending on the extent of the emergency, such instances may also leave you debt-ridden.</p>
                                     <p>While you cannot plan ahead for contingencies arising from such incidents, insurance policies offer a semblance of support to minimise financial liability from unforeseen occurrences.</p>
                                 <p>There is a wide range of insurance policies, each aimed at safeguarding certain aspects of your health or assets.</p>
                                 </div>
                                 <div class="features-right col-lg-8 col-md-12">
                                     <div class="faqs-accordian">
                                     <ul class="d-flex flex-wrap">
                                         <li class="col-md-12">
                                             <h3>1. term plan</h3>
                                             <div class="faq-content">
                                                 <p>The death benefit from a term plan is only available for a specified period, for
instance, 40 years from the date of policy purchase.</p>

                                             </div>

                                         </li>
                                          <li class="col-md-12">
                                             <h3>2. Endowment Plan</h3>
                                             <div class="faq-content">
                                                 <p>Endowment plans are life insurance policies where a portion of your premiums go toward the death benefit, while the remaining is invested by the insurance provider. Maturity benefits, death benefits and periodic bonuses are some types of assistance from endowment policies.</p>

                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>3. Unit Linked Insurance Plans or ULIPs</h3>
                                             <div class="faq-content">
                                                 <p>Similar to endowment plans, a part of your insurance premiums go toward mutual fund investments, while the remaining goes toward the death benefit.

</p>

                                             </div>

                                         </li>

                                          <li class="col-md-12">
                                             <h3>4. Whole Life Insurance</h3>
                                             <div class="faq-content">
                                                 <p>As the name suggests, such policies offer life cover for the whole life of an individual, instead of a specified term. Some insurers may restrict the whole life insurance tenure to 100 years.</p>



                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>5. Child’s Plan</h3>
                                             <div class="faq-content">
                                                 <p> Investment cum insurance policy, which provides financial aid for your children throughout their lives. The death benefit is available as a lump-sum payment after the death of parents.
</p>



                                             </div>

                                         </li>

                                          <li class="col-md-12">
                                             <h3>6. Money-Back</h3>
                                             <div class="faq-content">
                                                 <p>Such policies pay a certain percentage of the plan’s sum assured after regular intervals. This is known as survival benefit.

</p>




                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>7. Retirement Plan</h3>
                                             <div class="faq-content">
                                                 <p>Also known as pension plans, these policies are a fusion of investment and insurance. A portion of the premiums goes toward creating a retirement corpus for the policyholder. This is available as a lump-sum or monthly payment after the policyholder retires.


</p>

                                             </div>

                                         </li>




                                     </ul>
                                 </div>

                                 </div>

                             </div>
                                                          </div>
                                   <div>
                             <div class="feature-inner d-flex  flex-wrap">
                                 <div class="features-left features-left_2 col-lg-4 col-md-12">
                                     <h3>Features and<br>
Benefits</h3>
                                     <p>If you possess a life insurance plan, you can enjoy the following advantages from the policy.</p>

                                 </div>
                                 <div class="features-right col-lg-8 col-md-12">
                                     <ul class="d-flex flex-wrap features">
                                         <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                 <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3>Tax Benefits</h3>
                                                 <p> If you pay life insurance premiums, you are eligible for tax benefits in India, under Section 80(C) and 10(10D) of the Income Tax Act. Thus, you can save a substantial sum of money as taxes by opting for a life insurance plan.
</p></div>
                                             </div>

                                         </li>
                                         <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                 <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                     <h3>Encourages Saving Habit </h3>
                                                     <p>  Since you need to pay policy premiums, buying such an insurance policy promotes the habit of saving money.


                                                     </p></div>
                                             </div>

                                         </li>
                                            <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                 <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3>Secures Family’s Financial Future</h3>
                                                 <p>The policy ensures your family’s financial independence is maintained even after your demise.

                                                     </p></div>
                                             </div>

                                         </li>
                                            <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                 <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Features.svg' %}" width="30" height="20" alt="feature"></span>
                                                 <h3>Helps Plan Your Retirement</h3>
                                                 <p>Certain life insurance policies also act as investment options. For instance, pension plans offer a lump-sum payout as soon as you retire, helping you to fund your retirement.

                                                     </p></div>
                                             </div>

                                         </li>


                                     </ul>

                                 </div>

                             </div>
                                                </div>
<!--
                                   <div>
                              <div class=" feature-inner d-flex flex-wrap">
                                 <div class="features-left features-left_2 col-lg-4 col-md-12">
                                     <h3>FAQ's</h3>
                                     <p>SIn publishing and graphic design, Lorem ipsum is
a placeholder text commonly used to
demonstrate the visual form of a document or a
typeface without relying on meaningful content.</p>

                                 </div>
                                 <div class="features-right features-right1 col-lg-8 col-md-12">

                                     <div class="faqs-accordian">
                                     <ul class="d-flex flex-wrap">
                                         <li class="col-md-12">
                                             <h3>1. What is a term plan?</h3>
                                             <div class="faq-content">
                                                 <p>Term insurance is the simplest and purest form of life insurance. It provides financial
protection to your family at the most affordable rates. You can get a large amount of
life cover (i.e. sum assured) at a relatively low premium rate. The benefit amount is
paid out to the nominee in case of death of the person insured.</p>

                                             </div>

                                         </li>
                                          <li class="col-md-12">
                                             <h3>2. Why do I need a term plan?</h3>
                                             <div class="faq-content">
                                                 <p>You are eligible for a Personal Loan if you are a salaried professional aged between 25 and 58 years.</p>
                                                 <ul>
                                                     <li><p><small></small>Open the loan eligibility calculator</p></li>
                                                     <li><p><small></small>Select the city of residence, date of birth, monthly income and monthly expenses</p></li>
                                                     <li><p><small></small>Once you select these fields, the tool will show an amount that you will be eligible for</p></li>
                                                     <li><p><small></small>You can apply for the same amount and get quick loan approval online</p></li>

                                                 </ul>

                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>3. When should I buy a term plan?</h3>
                                             <div class="faq-content">
                                                 <p>A final, personal loan amount that you can get from a lender depends on your salary, city of residence, age and other eligibility criteria. The best thing to know how much personal loan you can get on your salary will be using the personal loan eligibility calculator. It will tell you the amount that you can apply for as the loan after you select your city, age, salary and monthly expenses on the tool. This way, you can apply for the eligible amount and avoid the chances of rejections.
</p>

                                             </div>

                                         </li>

                                          <li class="col-md-12">
                                             <h3>4. How is the term insurance premium calculated?</h3>
                                             <div class="faq-content">
                                                 <p>A personal loan for salaried employees can be availed if you can meet some eligibility conditions. Have a look at the personal loan eligibility of Bajaj Finserv:</p>
                                                     <ul>
                                                         <li><p><small></small>You need to be a residing citizen of India</p></li>
                                                 <li><p><small></small>You should be aged between 23 and 55 years to apply for personal loan
</p></li>
                                                         <li><p><small></small>You need to be employed with a private, public limited company, or an MNC

</p></li>
                                                 </ul>


                                             </div>

                                         </li>

                                          <li class="col-md-12">
                                             <h3>5.How much life cover do I need?</h3>
                                             <div class="faq-content">
                                                 <p>Qualifying for a personal loan is easy if you can meet the eligibility criteria of Bajaj Finserv and submit some documents.</p>
                                                     <ul>
                                                         <li><p><small></small>You should be aged between 23 and 55 years
</p></li>
                                                 <li><p><small></small>You need to be a resident of India

</p></li>
                                                         <li><p><small></small>You should be working for an MNC, private or a public limited company

</p></li>
                                                         <li><p><small></small>KYC documents

</p></li>
                            <li><p><small></small>Employee ID card

</p></li>

                            <li><p><small></small>Last 2 months’ salary slips


</p></li>
                                                         <li><p><small></small>Salaried bank account statement of the previous 3 months


</p></li>


                                                 </ul>
                                                 <p>Along with these, the lender will also look at your CIBIL score and repayment history before approving your personal loan application.</p>


                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>6. What is Critical illness benefit option?</h3>
                                             <div class="faq-content">
                                                 <p>The minimum salary for personal loans that you need to be earning will depend on your city of residence. The minimum salary that you need to be earning is Rs.25,000 and that depends on your city. But, if you are earning Rs.25,000, then you can’t apply for a loan in Pune. It is because the minimum salary in Pune is Rs.35,000. The minimum salary required to apply for personal loans will differ from cities to cities.

</p>

                                             </div>

                                         </li>




                                     </ul>
                                 </div>

                                 </div>

                             </div>

                             </div>
-->
                             </div>
                         </div>

                     </div>

                 </div>

             </div>
{% endblock %}