<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <meta name="format-detection" content="telephone=no">
      <title>Shopfins | Personal Loan Enquiry</title>
      <!-- SET: FAVICON -->
        <link rel="shortcut icon" type="image/x-icon" href="images/fav-Icon.svg">
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://kenwheeler.github.io/slick/slick/slick.css">
      <link rel="stylesheet" href="https://kenwheeler.github.io/slick/slick/slick-theme.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link rel="stylesheet" href="https://jqueryniceselect.hernansartorio.com/css/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link rel="stylesheet" href="css/responsive.css">

      <!--[if lt IE 9]>
      <script type="text/javascript" src="js/html5shiv.min.js"></script>
      <script type="text/javascript" src="js/IE9.js"></script>
      <style></style>
      <![endif]-->
   </head>
   <body>
      <div class="wrapper">
         <header>
            <div class="container">
               <div class="header-in">
                  <nav class="navbar navbar-expand-md">
                     <!-- Brand/logo -->
                     <a class="navbar-brand" href="home.html"><img src="images/Shopfins%20Logo%20Blue%20(1).svg" width="180" height="35" alt="logo"></a>
                     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                     <span></span>
                     <span></span>
                     <span></span>
                     </button>
                     <!-- Links -->
                     <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav ml-auto">
                             <li class="nav-item mega">
                              <a class="nav-link drop" href="#">Products</a>
                                   <div class="mega-menu">
                                    <div class="mega-inner">
                                     <div class="mega-menu-cnt">
                                   <h6> Loans</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="personal-loan-features.html">Personal Loan</a></li>
                                         <li>
                                         <a href="home-loan-features.html">Home Loan</a></li>
                                         <li>
                                         <a href="business-loan-features.html">Business Loan</a></li>
                                         <li>
                                         <a href="auto-loan-features.html">auto Loan</a></li>
                                         <li>
                                         <a href="mortage-loan-features.html" class="active">Mortgage Loan</a></li>



                                     </ul>
                             </div>
                 </div>
                                     <div class="mega-menu-cnt">
                                   <h6> Insurance</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="life-insurance.html">Life Insurance</a></li>
                                         <li>
                                         <a href="motor-insurance.html">Motor insurance</a></li>
                                         <li>
                                         <a href="health-insurance.html">Health insurance</a></li>





                                     </ul>
                             </div>
                 </div>
                                     <div class="mega-menu-cnt mega-menu-cnt1">
                                   <h6>Investments</h6>
                                         <div class="mega-cnt-inner">
                                     <ul>
                                       <li>
                                         <a href="mutual-fund.html">Mutual Funds</a></li>
                                         <li>
                                         <a href="stock-trading.html">Stock Trading</a></li>
                                          <li>
                                         <a href="bonds.html">Bonds</a></li>



                                     </ul>
                             </div>
                 </div>
                                       </div>

                                 </div>
                           </li>

                            <li class="nav-item finance">
                              <a class="nav-link" href="#">EMI Calculators</a>

                                   <ul class="finance-drop">
                                         <li><a href="personal-loan-calculator.html">Personal Loan EMI Calculator</a></li>
                                        <li><a href="home-loan-calculator.html" class="active">Home Loan EMI Calculator</a></li>
                                        <li><a href="car-loan-calculator.html">Car Loan EMI Calculator</a></li>




                                   </ul>


                           </li>
                              <li class="nav-item"><a href="Sign-in.html" class="nav-link sign">Sign In</a></li>

                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
         </header>

         <div class="main-content">

             <div class="eligibility-criteria">
                 <div class="container">

                     <div class="loan-personal text-center">
                         <h3>Mortgage Loan  <div class="arrow">
                         <a href="home.html"><img src="images/arrow2.png" width="20" height="14" alt="arrow2"></a>

                     </div></h3>
                         <p>In publishing and graphic design, Lorem ipsum is a placeholder text
commonly used to demonstrate the visual form of a document or a typeface
without relying on meaningful content.</p>

                     </div>
                     <div class="eligibility-in" id="parentHorizontalTab">
                         <div class="features-links">
                             <ul class="d-flex flex-wrap resp-tabs-list hor_1">
                                 <li class="col-md-4">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Features.svg" width="30" height="20" alt="feature"></span>
                                             <h5>Features and Benefits</h5>

                                         </div>

                                     </a>

                                 </li>
                                  <li class="col-md-4 resp-tab-item hor_1 resp-tab-active">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Eligibility-Criteria.svg" width="22" height="20" alt="eligbilty"></span>
                                             <h5>Eligibility Criteria</h5>

                                         </div>

                                     </a>

                                 </li>
                                 <li class="col-md-4">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/FAQ's.svg" width="22" height="20" alt="required"></span>
                                             <h5>FAQ'S</h5>

                                         </div>

                                     </a>

                                 </li>

                             </ul>

                         </div>
                         <div class="features-tab-content">
                               <div class="resp-tabs-container hor_1">
                                   <div>
                             <div class="feature-inner d-flex  flex-wrap">
                                 <div class="features-left features-left_1 col-lg-4 col-md-12">
                                     <h3>Features and<br>
Benefits</h3>
                                     <p>Mortgage Loan is most suitable for high-value purchase. In a situation where you do not have adequate funds to make a high-end asset purchase, applying for a mortgage loan is the best solution.
</p>
                                     <p>solution.
Mortgage loan is one of the most cost-effective ways of borrowing. It is usually taken for a longer duration, say 20-30 years. This makes the repayment easy and you can pay the EMIs in a flexible manner spread over a long horizon.
</p>

                                 </div>
                                 <div class="features-right col-lg-8 col-md-12">
                                     <ul class="d-flex flex-wrap features">
                                         <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                 <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Features.svg" width="30" height="20" alt="feature"></span>
                                                 <h3>Lower interest rate</h3>
                                                 <p>IAs the loan is taken keeping the property as collateral, the rate of interest is generally lower when compared to personal loan. Loan against property interest rates generally ranges between 12% and 15% while in case of personal loan the interest rate ranges is 15% to 25%.</p></div>
                                             </div>

                                         </li>
                                         <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                  <div class="features-right-cnt-inner">

                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Features.svg" width="30" height="20" alt="feature"></span>
                                                 <h3>Lower to no prepayment charges</h3>
                                                      <p>You can close your loan against property by making prepayments towards your loan. Lenders generally don’t charge prepayment charges in case of loan against property</p></div>
                                             </div>

                                         </li>
                                            <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                  <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Features.svg" width="30" height="20" alt="feature"></span>
                                                 <h3>Easy to get</h3>
                                                 <p>As these are secured loans, banks are more than willing to provide these loans. Therefore, you won’t find it very difficult to get the property loan.
</p>
                                                 </div>                                  </div>

                                         </li>
                                            <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                  <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Features.svg" width="30" height="20" alt="feature"></span>
                                                 <h3>Longer tenure</h3>
                                                      <p>hese loans are generally available for longer tenure going up to 15 years while the tenure in case of personal loan is generally up to 7 years.</p></div>
                                             </div>

                                         </li>

                                       <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                  <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Features.svg" width="30" height="20" alt="feature"></span>
                                                 <h3>Lower EMI</h3>
                                                 <p> There is an inverse relationship between tenure and EMI. Longer the tenure lower will be the EMI and vice versa. As these are available for longer tenure, these become suitable for people who can’t afford paying higher EMIs. However, it is always advisable that a person should take a loan for the shortest tenure as the interest burden will be lower  in case of a short tenure loan.
                                                      </p></div>
                                             </div>

                                         </li>

                                       <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                  <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Features.svg" width="30" height="20" alt="feature"></span>
                                                 <h3>Hassle-free</h3>
                                                 <p> Obtaining a mortgage loan is quite easy. If you have met the necessary eligibility criteria and have a strong credit history, getting a mortgage loan isn’t that difficult. Because of the ease in obtaining mortgage loans, there has been an increase in home purchases backed by mortgages in recent times.
                                                      </p></div>
                                             </div>

                                         </li>
                                         <li class="col-md-6">
                                             <div class="features-right-cnt">
                                                  <div class="features-right-cnt-inner">
                                             <span class="d-flex align-items-center justify-content-center"><img src="images/Features.svg" width="30" height="20" alt="feature"></span>
                                                 <h3>Secured Loan</h3>
                                                      <p> Mortgage Loan is a secured loan therefore lenders can have less worry in disbursing this loan. Since Mortgage Loan is a high-value loan, the risk quotient is presumably higher. But a lender has the mortgage asset as a security. Borrowers must be very diligent in repaying this loan because if it is not repaid on time, the lenders may auction the property or foreclose the loan.</p>
                                                 </div>

                                             </div>

                                         </li>
                                     </ul>

                                 </div>

                             </div>
                                       <div class="get-in-touch">
                 <div class="container">
                     <div class="get-in-touch-inner d-flex align-items-center">
                         <div class="get-left">
                         <h3>Get in touch with an executive</h3>
                         </div>
                         <div class="get-right d-flex ml-auto">
                             <a href="contact-us.html" class="btn">Check your Eligibility</a>

                         </div>

                     </div>

                 </div>

             </div>
                                       </div>
                                   <div class="res-tab-active resp-tab-content-active">
                              <div class=" feature-inner d-flex flex-wrap align-items-center">
                                 <div class="features-left col-lg-4 col-md-12">
                                     <h3>Eligibility<br>
Criteria</h3>
                                     <p>Your total annual income as a salaried person should be more than Rs 40,000 per annum and Rs 3 lakhs per annum for self-employed individuals.
</p>
                                     <p>Minimum age requirement is 18 years and the maximum is 65 years.
</p>
                                     <p>Both salaried and self-employed individuals are eligible to apply for a mortgage loan</p>
                                      <div class="product-left p-0">

                                      <ul>
                                          <li><p>Loan amount ranging from 1 Lakh to 40 Lakhs</p></li>
                                          <li><p>Paperless digital sanctions</p></li>
                                          <li><p>Loan tenure from 12 months to 84 months*</p></li>
                                          <li><p>Flexibility to make up to 40%* part payment*</p></li>
                                          <li><p>ROI starting as low as 10.75%*</p></li>


                                      </ul>

                                     </div>

                                 </div>
                                 <div class="features-right features-right1 col-lg-8 col-md-12">

            <div class="product-right">
                                      <div class="form-wizard">
                                       <div class="wizard-step">
                                           <ul class="d-flex form-wizard-steps">
                                           <li class="active"><em><span class="d-flex align-items-center justify-content-center">1</span></em>
                                               <h6>Personal Details</h6></li>
                                                <li><em><span class="d-flex align-items-center justify-content-center">2</span></em>
                                               <h6>Loan Details</h6></li>

                                           </ul>

                                         </div>

                                             <div class="wizard-fieldset show">

                                         <div class="personal-form">
                                             <form>
                                                 <ul class="d-flex flex-wrap">
                                                     <li class="col-md-6">
                                                         <select>
      <option data-display="Personal Loan">Personal Loan</option>
       <option value="1">Home Loan</option>
     <option value="2">Business Loan</option>
     <option value="3">Auto Loan</option>
    <option value="3">Mortgage Loan</option>

</select></li>
                                                      <li class="col-md-6">

                        <input type="text" class="form-control" placeholder="Full Name as per PAN" name="name" id="name" >
                     </li>
                     <li class="col-md-6">

                        <input type="tel" class="form-control" placeholder="Mobile Number" name="phone" id="phone">
                     </li>
                     <li class="col-md-6"><label></label>

                        <input type="email" class="form-control" placeholder="Email ID" id="email" name="email">
                     </li>
                                                      <li class="col-md-6">
                                                         <select>
      <option data-display="Occupation Type">Occupation Type</option>
       <option value="1">Salaried</option>
     <option value="2">Self-Employed Professional</option>
     <option value="3">Self-Employed Business</option>

</select></li>

                                                     <li class="col-md-6">
                                                         <select>
      <option data-display="Your current city">Your current city</option>
       <option value="1">Hyderabad</option>
     <option value="2">Chennai</option>
     <option value="3">Mumbai</option>
     <option value="3">Banglore</option>
     <option value="3">Pune</option>

</select></li>

                                                 </ul>
                                               <button type="button" class="btn form-wizard-next-btn">CONTINUE</button>

                                             </form>

                                         </div>
                                             </div>
                                             <div class="wizard-fieldset">

                                         <div class="personal-form">
                                             <form>

                                                 <ul class="d-flex flex-wrap">
                                                     <li class="col-md-6">
                                                        <input type="number" class="form-control" placeholder="Required Loan amount">
</li>
                                                      <li class="col-md-6">

                        <input type="text" class="form-control" placeholder="Company Working" name="company" id="company" required>
                     </li>
                     <li class="col-md-6">

                        <input type="number" class="form-control" placeholder="Take home Salary Monthly" name="salary" id="salary"  required>
                     </li>
                     <li class="col-md-6">

                        <input type="number" class="form-control" placeholder="Existing loan EMI amount (per Month)" id="amount" name="amount">
                     </li>


                                                 </ul>
                                                 <div class="previous">
                                                     <ul class="d-flex">
                                                         <li>
                                                 <button type="button" class="btn form-wizard-previous-btn">previous</button>
                                                             </li>
                                                         <li>
                                               <button type="button" class="btn form-wizard-submit">SUBMIT</button>
                                                             </li>
                                                         </ul>
                                                     </div>

                                             </form>

                                         </div>
                                             </div>



                                     </div>

                                     </div>
                                 </div>

                             </div>
                                       </div>
                                   <div>
                              <div class=" feature-inner d-flex flex-wrap">
                                 <div class="features-left features-left_2 col-lg-4 col-md-12">
                                     <h3>Required<br>
Documents</h3>
                                     <p>Shopfins provides Personal Loans for both <strong>selfemployed</strong> and <strong>salaried individuals</strong> based on the
assessment of following documents.Privacy Policy Terms & Conditions
SUPPORT</p>

                                 </div>
                                 <div class="features-right features-right1 col-lg-8 col-md-12">
<!--
                                     <ul class="d-flex flex-wrap">
                                         <li class="col-md-12">
                                             <div class="features-right-cnt">

                                                 <h3>PAN/ Form 60</h3>


                                             </div>

                                         </li>
                                          <li class="col-md-12">
                                             <div class="features-right-cnt">

                                                 <h3>Address Proof<em>&nbsp;&nbsp;( Self-attested copy of any one document* )</em></h3>
                                                 <ul>
                                                     <li><p><small></small> Valid Passport</p></li>
                                                      <li><p><small></small>Aadhaar Card</p></li>
                                                       <li><p><small></small>Voter’s Identity Card</p></li>
                                                     <li><p><small></small>Driving License</p></li>

                                                 </ul>

                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <div class="features-right-cnt">

                                                 <h3>Income Proof<em>&nbsp;&nbsp;( Self-attested copy of any one document* )</em></h3>
                                                 <ul>
                                                     <li><p><small></small> For Self Employed: Latest 3 months Bank Statement showing 3 credits & 3 debits in
each month.</p></li>
                                                      <li><p><small></small>Latest 3 months’ Salary Slip (dependent on scheme/Bank Statement)</p></li>


                                                 </ul>

                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <div class="features-right-cnt">

                                                 <h3>Business Proof<em>&nbsp;&nbsp;( Self-attested copy of any one document* )</em></h3>
                                                 <ul>
                                                     <li><p><small></small> Municipal tax bill</p></li>
                                                      <li><p><small></small>Gram Panchayat Certificate</p></li>
                                                       <li><p><small></small>Shop & Establishment Certificate</p></li>
                                                     <li><p><small></small>GST Certificate</p></li>
                                                     <li><p><small></small>ITR with Computation of income of Last 2 years</p></li>
                                                       <li><p><small></small>Udyog Aadhaar</p></li>
                                                       <li><p><small></small>Utility Bill</p></li>


                                                 </ul>

                                             </div>

                                         </li>
                                          <li class="col-md-12">
                                             <div class="features-right-cnt">

                                                 <h3>Balance Transfer<em>&nbsp;&nbsp;( Self-attested copy of any one document* )</em></h3>
                                                 <ul>
                                                     <li><p><small></small>Repayment Schedule</p></li>
                                                      <li><p><small></small>Loan Foreclosure Letter</p></li>
                                                       <li><p><small></small>Statement of Accounts</p></li>



                                                 </ul>

                                             </div>

                                         </li>




                                     </ul>
-->
                                     <div class="faqs-accordian">
                                     <ul class="d-flex flex-wrap">
                                         <li class="col-md-12">
                                             <h3>1. How is Personal Loan eligibility calculated?</h3>
                                             <div class="faq-content">
                                                 <p>You are eligible for a Personal Loan if you are a salaried professional aged between 25 and 58 years.</p>

                                             </div>

                                         </li>
                                          <li class="col-md-12">
                                             <h3>2. How can you check personal loan eligibility?</h3>
                                             <div class="faq-content">
                                                 <p>You are eligible for a Personal Loan if you are a salaried professional aged between 25 and 58 years.</p>
                                                 <ul>
                                                     <li><p><small></small>Open the loan eligibility calculator</p></li>
                                                     <li><p><small></small>Select the city of residence, date of birth, monthly income and monthly expenses</p></li>
                                                     <li><p><small></small>Once you select these fields, the tool will show an amount that you will be eligible for</p></li>
                                                     <li><p><small></small>You can apply for the same amount and get quick loan approval online</p></li>

                                                 </ul>

                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>3. How much personal loan you can get on your salary?</h3>
                                             <div class="faq-content">
                                                 <p>A final, personal loan amount that you can get from a lender depends on your salary, city of residence, age and other eligibility criteria. The best thing to know how much personal loan you can get on your salary will be using the personal loan eligibility calculator. It will tell you the amount that you can apply for as the loan after you select your city, age, salary and monthly expenses on the tool. This way, you can apply for the eligible amount and avoid the chances of rejections.
</p>

                                             </div>

                                         </li>

                                          <li class="col-md-12">
                                             <h3>4. What is the personal loan eligibility for salaried employees?</h3>
                                             <div class="faq-content">
                                                 <p>A personal loan for salaried employees can be availed if you can meet some eligibility conditions. Have a look at the personal loan eligibility of Bajaj Finserv:</p>
                                                     <ul>
                                                         <li><p><small></small>You need to be a residing citizen of India</p></li>
                                                 <li><p><small></small>You should be aged between 23 and 55 years to apply for personal loan
</p></li>
                                                         <li><p><small></small>You need to be employed with a private, public limited company, or an MNC

</p></li>
                                                 </ul>


                                             </div>

                                         </li>

                                          <li class="col-md-12">
                                             <h3>5. How to qualify for a personal loan?</h3>
                                             <div class="faq-content">
                                                 <p>Qualifying for a personal loan is easy if you can meet the eligibility criteria of Bajaj Finserv and submit some documents.</p>
                                                     <ul>
                                                         <li><p><small></small>You should be aged between 23 and 55 years
</p></li>
                                                 <li><p><small></small>You need to be a resident of India

</p></li>
                                                         <li><p><small></small>You should be working for an MNC, private or a public limited company

</p></li>
                                                         <li><p><small></small>KYC documents

</p></li>
                            <li><p><small></small>Employee ID card

</p></li>

                            <li><p><small></small>Last 2 months’ salary slips


</p></li>
                                                         <li><p><small></small>Salaried bank account statement of the previous 3 months


</p></li>


                                                 </ul>
                                                 <p>Along with these, the lender will also look at your CIBIL score and repayment history before approving your personal loan application.</p>


                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>6. What is the minimum salary required for a personal loan?</h3>
                                             <div class="faq-content">
                                                 <p>The minimum salary for personal loans that you need to be earning will depend on your city of residence. The minimum salary that you need to be earning is Rs.25,000 and that depends on your city. But, if you are earning Rs.25,000, then you can’t apply for a loan in Pune. It is because the minimum salary in Pune is Rs.35,000. The minimum salary required to apply for personal loans will differ from cities to cities.

</p>

                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>7. What is the maximum age to avail a personal loan?
</h3>
                                             <div class="faq-content">
                                                 <p>At Bajaj Finserv, the personal loan age limit is between 23 and 55 years. Hence, the maximum age to avail a loan is 55 years. But, the younger an applicant is, the better is his/her chance to get the loan approval at a lower rate of interest. It is because he/she has more working years left than an applicant in his/her 50s. Thus, the applicant won’t face issues in paying the loan EMIs without the risks of defaulting.

</p>

                                             </div>

                                         </li>
                                         <li class="col-md-12">
                                             <h3>8. How to check if you are eligible for a personal loan or not?
</h3>
                                             <div class="faq-content">
                                                 <p>If you want to apply for a personal loan to meet some of your urgent needs, then you need to check if you are eligible for the desired loan amount or not. To do that, you can check your loan eligibility by using the personal loan eligibility checker. You need to select your city, age, income and expenses and the tool will predict the eligible amount. As per the qualifying amount, you can apply for the same and get instant approval.


</p>

                                             </div>

                                         </li>
                                          <li class="col-md-12">
                                             <h3>9. What is the minimum CIBIL Score to get a personal loan?
</h3>
                                             <div class="faq-content">
                                                 <p>Although the required CIBIL score for personal loan is 750+, you can also get the loan approval when you have a lower credit score. You won’t get the loan approval if the CIBIL score is under 599. However, if you have a score of 600-700, you may get the loan approval, but at a higher rate of interest. It may affect your budget and lead to an increased EMI amount.



</p>

                                             </div>

                                         </li>

                                         <li class="col-md-12">
                                             <h3>10. Can a person avail a personal loan and a home loan simultaneously?
</h3>
                                             <div class="faq-content">
                                                 <p>Yes, a person can have a personal loan and a home loan account at the same time. If you have an ongoing personal loan and you are seeking a home loan, then you can apply for it. The only condition is that your debt to income ratio should not be above 50%. You can have multiple personal loans and yet apply for a home loan. You should ensure having higher creditworthiness so that you can manage home loan and personal loan repayments.




</p>

                                             </div>

                                         </li>




                                     </ul>
                                 </div>

                                 </div>

                             </div>
                                       <div class="get-in-touch">
                 <div class="container">
                     <div class="get-in-touch-inner d-flex align-items-center">
                         <div class="get-left">
                         <h3 id="example">Get in touch with an executive</h3>
                         </div>
                         <div class="get-right d-flex ml-auto">
                             <a href="contact-us.html" class="btn">Check your Eligibility</a>

                         </div>

                     </div>

                 </div>

             </div>
                             </div>
                             </div>
                         </div>

                     </div>

                 </div>

             </div>

          <div class="get-in-touch">
                 <figure><img src="images/get-in-touch.png" width="1920" height="340" alt="get"></figure>
                 <div class="get-inner">
                 <div class="container text-center">
                     <h3>Get In touch with an Executive</h3>
                     <a href="contact-us.html" class="btn">CONTACT US</a>
                 </div>
                     </div>

             </div>

         </div>
         <footer>
            <div class="container">
               <div class="footer-in">
                  <div class="footer-logo">
                     <a href="#"><img src="images/Shopfins%20Logo%20white.svg" width="180" height="35"
                        alt="footer-logo"></a>
                  </div>


                  <ul class="d-md-flex flex-wrap justify-content-between">

                     <li>
                        <ul>
                           <li>

                              <h5 class="text-uppercase">COMPANY</h5>
                            </li>

                            <li>
                              <a  href="about-us.html">About Us</a>
                           </li>



                           <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                     </li>
                      <li>
                        <ul>
                           <li>

                              <h5 class="text-uppercase">PRODUCTS</h5>
                            </li>

                            <li>
                              <a  href="personal-loan.html">Personal Loan</a>
                           </li>
                            <li>
                              <a  href="home-loan.html">Home Loan</a>
                           </li>
                           <li><a href="business-loan.html">Business Loan</a></li>
                            <li><a href="auto-loan.html">Auto Loan</a></li>
                             <li><a href="mortage-loan.html">Mortage Loan</a></li>



                        </ul>
                     </li>





                     <li>

                        <ul>
                           <li>
                              <h5 class="text-uppercase">GET IN TOUCH</h5>
                           </li>
                           <li><a href="mailto:hello@shopfins.com">Email Id: hello@shopfins.com</a></li>
                           <li><a href="tel:919908419612">Phone No: +91 9908419612 </a></li>
                        </ul>
                     </li>
                     <li>
                        <h5 class="text-uppercase">CONNECT </h5>
                        <ul class="d-flex social">
                           <li><a href="https://www.facebook.com/Shopfins-101130045059366" target="_blank"><img src="images/Facebook.svg" width="30" height="30" alt="facebook"></a></li>
                           <li><a href="https://www.instagram.com/theshopfins/" target="_blank"><img src="images/Instagram.svg" width="30" height="30" alt="instagram"></a></li>
                           <li><a href="https://www.linkedin.com/company/69441204/admin/" target="_blank"><img src="images/Linked%20In.svg" width="30" height="30" alt="linkednin"></a></li>
                           <li><a href="https://twitter.com/shopfins" target="_blank"><img src="images/Twitter.svg" width="30" height="30" alt="twitter"></a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </footer>
         <div class="contact-me">
            <a class="d-flex align-items-center justify-content-center" href="tel:919908419612"><img src="images/call.svg" width="40" height="40" alt="phone"></a>
             <div class="tool-tip">
                 <div class="tool-tip-in">
                     <em>WhatsApp</em>

                 </div>

             </div>
         </div>

          <div class="whatsapp">
              <a  href="https://api.whatsapp.com/send?phone=+919908419612" target="_blank" class="d-flex align-items-center justify-content-center">
            <img src="images/whatsapp.svg" width="50" height="50" alt="whatsapp">
                  </a>
              <div class="tool-tip">
                 <div class="tool-tip-in">
                     <em>WhatsApp</em>

                 </div>

             </div>

          </div>
          <div class="go-to-top">
              <a href="#" id="back-to-top" class="show"><img src="images/Go-to-top.svg" width="80" height="80" alt="top"></a>

          </div>

       </div>

      <!-- jQuery library -->
        <script src="https://webthemez.com/demo/easy-responsive-tabs/js/jquery-1.9.1.min.js"></script>

<script src="https://webthemez.com/demo/easy-responsive-tabs/js/easyResponsiveTabs.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <!-- Popper JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
       <script src="https://webthemez.com/demo/easy-responsive-tabs/js/jquery-1.9.1.min.js"></script>
<script src="https://webthemez.com/demo/easy-responsive-tabs/js/easyResponsiveTabs.js"></script>

       <script src="https://jqueryniceselect.hernansartorio.com/js/jquery.nice-select.min.js"></script>







       <script>
           $(document).ready(function() {
  $('select').niceSelect();
});


       </script>
        <script>

       $(document).ready(function() {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier

            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
                 setTimeout(function() {
             $('.resp-accordion.resp-tab-active')[0].scrollIntoView();
         }, 400);

            }


        });

        // Child Tab
        $('#ChildVerticalTab_1').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true,
            tabidentify: 'ver_1', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });
        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
       </script>
       <script>
           $(document).ready(function(e){
               $('nav   ul  li.mega a').click(function(e){
                   $(this).parent().find('.mega-menu').slideDown();
                   $(this).parent().siblings().find('.mega-menu').slideUp();
                   $(this).parent().siblings().find('.finance-drop').slideUp();




               })
           })
       </script>
       <script>
           $(document).ready(function(e){
                 if($(window).width() < 767){
               $('.mega-menu h6').click(function(e){
                   $(this).parent().addClass('active');
                     $(this).parent().siblings().removeClass('active');
                   $(this).parent().find('.mega-cnt-inner').slideToggle();
                   $(this).parent().siblings().find('.mega-cnt-inner').slideUp();
                   $(this).parent().siblings().find('.mega-menu').slideUp();


               })
                 }
               else{

               }

           })
       </script>
        <script>
           $(document).ready(function(e){
                if($(window).width() < 767){
               $('nav   ul  li.finance a').click(function(e){
                   $(this).parent().find('.finance-drop').slideToggle();
                 $(this).parent().siblings().find('.mega-menu').slideUp();



               })
                }
               else{

               }

           })

       </script>

       <script>
       $(document).ready(function(e){
           $("ul.resp-tabs-list > li").removeClass("resp-tab-active");
           $("ul.resp-tabs-list > li:nth-child(2)").addClass("resp-tab-active");
$("div.resp-tabs-container > h2").removeClass("resp-tab-active");
$("div.resp-tabs-container > div").removeClass("resp-tab-content-active");
$("div.resp-tabs-container > div").hide();

$('ul.resp-tabs-list   li[aria-controls="tab_item-2"]').addClass("resp-tab-active");
$('div.resp-tabs-container  h2[aria-controls="tab_item-2"]').addClass("resp-tab-active");
$('div.resp-tabs-container  div[aria-labelledby="hor_1_tab_item-1"]').addClass("resp-tab-content-active");
$('div.resp-tabs-container  div[aria-labelledby="hor_1_tab_item-1"]').show();
       })

       </script>
       <script>
       $(document).ready(function(e){
           if($(window).width() < 767){
$('div.resp-tabs-container  h2[aria-controls="hor_1_tab_item-1"]').addClass("resp-tab-active");
$('div.resp-tabs-container  h2[aria-labelledby="hor_1_tab_item-1"]').addClass("resp-tab-content-active");
$('div.resp-tabs-container  h2[aria-labelledby="hor_1_tab_item-1"]').show();

           }
           else{

           }

       })

       </script>
 <script>
          $(document).ready(function(e){
              $('.faqs-accordian h3').click(function(e){
                  $(this).parent().find('.faq-content').slideToggle();
                  $(this).parent().siblings().find('.faq-content').slideUp();
                   $(this).parent().addClass('active');
                 $(this).parent().siblings().removeClass('active');

              })
          })

       </script>
        <script>
       $(document).ready(function(e){
           var btn = $('#back-to-top');

$(window).scroll(function() {
  if ($(window).scrollTop() > 300) {
    btn.addClass('show');
  } else {
    btn.removeClass('show');
  }
});

btn.on('click', function(e) {
  e.preventDefault();
  $('html, body').animate({scrollTop:0}, '300');
});


       })

       </script>

      <script>
           $(document).ready(function(e){
               jQuery(document).ready(function() {
	// click on next button
	jQuery('.form-wizard-next-btn').click(function() {
		var parentFieldset = jQuery(this).parents('.wizard-fieldset');
		var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
		var next = jQuery(this);
		var nextWizardStep = true;
		parentFieldset.find('.wizard-required').each(function(){
			var thisValue = jQuery(this).val();

			if( thisValue == "") {
				jQuery(this).siblings(".wizard-form-error").slideDown();
				nextWizardStep = false;
			}
			else {
				jQuery(this).siblings(".wizard-form-error").slideUp();
			}
		});
		if( nextWizardStep) {
			next.parents('.wizard-fieldset').removeClass("show","400");
			currentActiveStep.removeClass('active').addClass('activated').next().addClass('active',"400");
			next.parents('.wizard-fieldset').next('.wizard-fieldset').addClass("show","400");
			jQuery(document).find('.wizard-fieldset').each(function(){
				if(jQuery(this).hasClass('show')){
					var formAtrr = jQuery(this).attr('data-tab-content');
					jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function(){
						if(jQuery(this).attr('data-attr') == formAtrr){
							jQuery(this).addClass('active');
							var innerWidth = jQuery(this).innerWidth();
							var position = jQuery(this).position();
							jQuery(document).find('.form-wizard-step-move').css({"left": position.left, "width": innerWidth});
						}else{
							jQuery(this).removeClass('active');
						}
					});
				}
			});
		}
	});
	//click on previous button
	jQuery('.form-wizard-previous-btn').click(function() {
		var counter = parseInt(jQuery(".wizard-counter").text());;
		var prev =jQuery(this);
		var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
		prev.parents('.wizard-fieldset').removeClass("show","400");
		prev.parents('.wizard-fieldset').prev('.wizard-fieldset').addClass("show","400");
		currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active',"400");
		jQuery(document).find('.wizard-fieldset').each(function(){
			if(jQuery(this).hasClass('show')){
				var formAtrr = jQuery(this).attr('data-tab-content');
				jQuery(document).find('.form-wizard-steps .form-wizard-step-item').each(function(){
					if(jQuery(this).attr('data-attr') == formAtrr){
						jQuery(this).addClass('active');
						var innerWidth = jQuery(this).innerWidth();
						var position = jQuery(this).position();
						jQuery(document).find('.form-wizard-step-move').css({"left": position.left, "width": innerWidth});
					}else{
						jQuery(this).removeClass('active');
					}
				});
			}
		});
	});
	//click on form submit button
	jQuery(document).on("click",".form-wizard .form-wizard-submit" , function(){
		var parentFieldset = jQuery(this).parents('.wizard-fieldset');
		var currentActiveStep = jQuery(this).parents('.form-wizard').find('.form-wizard-steps .active');
		parentFieldset.find('.wizard-required').each(function() {
			var thisValue = jQuery(this).val();
			if( thisValue == "" ) {
				jQuery(this).siblings(".wizard-form-error").slideDown();
			}
			else {
				jQuery(this).siblings(".wizard-form-error").slideUp();
			}
		});
	});
	// focus on input field check empty or not
	jQuery(".form-control").on('focus', function(){
		var tmpThis = jQuery(this).val();
		if(tmpThis == '' ) {
			jQuery(this).parent().addClass("focus-input");
		}
		else if(tmpThis !='' ){
			jQuery(this).parent().addClass("focus-input");
		}
	}).on('blur', function(){
		var tmpThis = jQuery(this).val();
		if(tmpThis == '' ) {
			jQuery(this).parent().removeClass("focus-input");
			jQuery(this).siblings('.wizard-form-error').slideDown("3000");
		}
		else if(tmpThis !='' ){
			jQuery(this).parent().addClass("focus-input");
			jQuery(this).siblings('.wizard-form-error').slideUp("3000");
		}
	});
});

           })


       </script>
   </body>
</html>