{% extends 'header.html' %}
{% block content %}
    {% load static %}
    <div class="eligibility-criteria">
                 <div class="container">

                     <div class="loan-personal text-center">
                         <h3>Stock Tradings<div class="arrow">
                         <a href="{% url 'home' %}"><img src="{% static 'images/arrow2.png' %}" width="20" height="14" alt="arrow2"></a>

                     </div></h3>
                         <p>The stock market or the stock exchange is a place where you can buy stocks, commodities, and bonds. It does not hold any shares of its own, instead acts as a platform where investors can buy stocks from the stock sellers. Think of it like a telephone exchange equivalent - instead of connecting a caller and a receiver, it connects buyers and sellers.</p>


                     </div>
                     <div class="eligibility-in" id="parentHorizontalTab">
                         <div class="features-links">
                             <ul class="d-flex flex-wrap resp-tabs-list hor_1">
                                 <li class="col-md-3">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Subscribe.svg' %}" width="22" height="20" alt="subscribe"></span>
                                             <h5>Subscribe</h5>


                                         </div>

                                     </a>

                                 </li>
                                  <li class="col-md-3">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/what.svg' %}" width="14" height="20" alt="what"></span>
                                             <h5>What is Stock Trading?</h5>

                                         </div>

                                     </a>

                                 </li>
                                 <li class="col-md-3">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static 'images/Howdoesitwork.svg' %}" width="30" height="20" alt="howdoesitwork"></span>
                                             <h5>How does it Work?</h5>

                                         </div>

                                     </a>

                                 </li>

                                 <li class="col-md-3">
                                     <a>
                                         <div class="feature-links-cnt text-center">
                                             <span class="d-flex align-items-center justify-content-center"><img src="{% static "images/Do's&Dont's.svg" %}" width="20" height="20" alt="dosanddos"></span>
                                             <h5>Do's & Dont's</h5>

                                         </div>

                                     </a>

                                 </li>

                             </ul>

                         </div>
                         <div class="features-tab-content">
                               <div class="resp-tabs-container hor_1">
                                   <div>
                             <div class="feature-inner d-flex  flex-wrap">
                                 <div class="features-left  col-lg-4 col-md-12">
                                     <h3>Subscribe</h3>
                                      <p>A stock market is one of the most important parts of a free-market economy. It is the place where a company can offer you a slice of its ownership in exchange for capital you invest in its stocks. You can purchase stocks of those companies that are listed on the stock exchange.</p>

                                    <p>Join the Shopfins family of over One million traders.</p>

                                 </div>
                                 <div class="features-right col-lg-8 col-md-12">
                                    <div class="quote-blk">
                                         <div class="inurance-tab-links p-0">
                                           <ul class="d-flex justify-content-center">

                                               <li class="col-md-4">
                                               <a data-index="investment-tab2">
                                                   <div class="insurance-cnt">
                                                       <em>
                                                       <span class="d-flex align-items-center justify-content-center">

                                                            <figure ><img src="{% static 'images/Stock-trading%20-white.svg' %}" width="22" height="30" alt="stock-trading-white"></figure></span>
                                                       </em>
                                                       <h6>Stock Trading</h6>
                                                   </div>

                                                   </a></li>

                                           </ul>
                                               </div>
                                        <div class="personal-form">
                                             <form role="form">
                                                 <ul class="d-flex flex-wrap">

                                                      <li class="col-md-6">

                        <input type="text" class="form-control" placeholder="Member Full Name">
                     </li>
                     <li class="col-md-6">

                        <input type="tel" class="form-control" placeholder="Mobile Number" name="phone" id="phone">
                     </li>
                     <li class="col-md-6">

                        <input type="number" class="form-control" placeholder="Pincode">
                     </li>

                                                 </ul>


                                             </form>
                                            <a href="personal-loan.html" class="btn">GET QUOTE</a>

                                         </div>

                                     </div>

                                 </div>

                             </div>
                                                             </div>
                                   <div>
                             <div class="feature-inner d-flex  flex-wrap">
                                 <div class="features-left features-left_2 col-lg-4 col-md-12">
                                     <h3>What is Stock Trading?</h3>
                                     <p>We often come across terms like shares, stock market and phrases like ‘the stock market is up and ‘investment in stocks'. But how many of us know what these really mean? Sure, you’re likely to be bombarded with these terms if you turn on a business channel, but many continue to have either little or no certain knowledge about them. Or even worse, sometimes it’s false and misleading information. Our schools and colleges don’t teach us about investment and financial planning. But this is what really matters once you’re out there in the dog-eat-dog world.</p>

                                 </div>
                                 <div class="features-right col-lg-8 col-md-12">
                                     <ul class="d-flex flex-wrap features">
                                         <li class="col-md-12">
                                             <div class="epf-content">
                                                 <p>A company’s capital is divided into shares in order to sustain, grow, expand or raise funds.</p>

                                             </div>

                                         </li>
                                           <li class="col-md-12">
                                             <div class="epf-content">
                                            <p>This means that people buy shares with the expectation that the value of the business and so its shares would rise.</p>


                                             </div>

                                         </li>
                                     <li class="col-md-12">
                                             <div class="epf-content">
                                            <p>Shares can be classified into Equity and Preference shares. These differ in terms of power given to shareholders.</p>


                                             </div>

                                         </li>

                                     </ul>

                                 </div>

                             </div>
                                                          </div>
                                   <div>
                               <div>
                             <div class="feature-inner d-flex  flex-wrap">
                                 <div class="features-left features-left_2 col-lg-4 col-md-12">
                                     <h3>How does it Work?</h3>
                                     <p>To many people, the stock market sounds like a scary, complicated entity that cannot be understood. But here’s some basic knowledge that might change that perception. Companies list themselves either in the primary or secondary market to raise funds or capital. The company has to give details about its business, financial status and the stocks being issued (IPO).</p>
                                     <p>Once listed, the stocks issued can be traded by the investors in the secondary market. This is where most of the trading happens. In this market, buyers and sellers gather to conduct transactions to make profits or cut losses. However there are thousands of investors, and in order to extend its coverage we have stock brokers who act as intermediaries. They send the order to the exchange. The exchange finds a seller, after which the confirmation is sent back to the broker and the broker finally debits/credits your accounts.</p>

                                 </div>
                                 <div class="features-right col-lg-8 col-md-12">
                                     <ul class="d-flex flex-wrap features">
                                         <li class="col-md-12">
                                             <div class="epf-content">
                                                 <p>As and when trades are conducted, share prices change. This is because prices of shares – like any other goods – are dependent on the perceived value. This is reflected in the rise or fall of demand for the stock. As demand for the stock increases, there are more buy orders. This leads to an increase in the price of the stock. To summarise the steps:</p>

                                             </div>

                                         </li>
                                           <li class="col-md-12">
                                             <div class="epf-content">
                                            <p>1. An order is placed.</p>


                                             </div>

                                         </li>
                                     <li class="col-md-12">
                                             <div class="epf-content">
                                            <p>2. Broker sends the order details to the exchange.</p>


                                             </div>

                                         </li>
                                      <li class="col-md-12">
                                             <div class="epf-content">
                                            <p>3. The exchange looks for the seller to confirm.
</p>


                                             </div>

                                         </li>
                                          <li class="col-md-12">
                                             <div class="epf-content">
                                            <p>4. The exchange confirms the order to the broker.
</p>


                                             </div>

                                         </li>
                                          <li class="col-md-12">
                                             <div class="epf-content">
                                            <p>5. Trading happens - money is exchanged.
</p>


                                             </div>

                                         </li>
                                     </ul>

                                 </div>

                             </div>
                                                          </div>
                                                </div>
                                   <div>
                              <div class=" feature-inner d-flex flex-wrap">
                                 <div class="features-left features-left_2 col-lg-4 col-md-12">
                                     <h3>Do's
&<br> Dont's</h3>
                                     <p>SIn publishing and graphic design, Lorem ipsum is
a placeholder text commonly used to
demonstrate the visual form of a document or a
typeface without relying on meaningful content.</p>

                                 </div>
                                 <div class="features-right features-right1 col-lg-8 col-md-12">

                                     <ul class="d-flex flex-wrap">
                                         <li class="col-md-12">
                                             <div class="epf-content">
                                             <h3>Do's</h3>
                                                 <ul>
                                                     <li><p><small></small>Start by virtual stock market investing app on mobile or try out a stock investing
desktop application before trying the stock market. These virtual apps are useful for
practice before making an actual stock market investment</p></li>
                                                      <li><p><small></small>You should invest ample amount of time for doing research on the stock you want
to buy. Buy shares when they are at a lower price and try to understand the stock
pattern.</p></li>
                        <li><p><small></small>Even if you have a small amount of money, start investing early as you can take
good advantage of compounding from an early stage</p></li>
                                                     <li><p><small></small>Diversify your investment. Investing in various sectors lowers your chances of loss.</p></li>
                                                     <li><p><small></small>Invest most of your money in the blue chip companies. They give you low returns but lowers your risk of loss.</p></li>
                                                     <li><p><small></small>Keep yourself up to date with the latest news of the company you are invested in.</p></li>


                                                 </ul>
                                             </div>

                                         </li>
                                      <li class="col-md-12">
                                             <div class="epf-content">
                                             <h3>Dont's</h3>
                                                 <ul>
                                                     <li><p><small></small>Don’t wait for the perfect time to enter into the stock market, as there is no perfect time. Start as early as possible.</p></li>
                                                      <li><p><small></small>Don’t get carried away with the speculations, initial profits and buzz..</p></li>
                        <li><p><small></small>The trading fees should be less than 2%. Otherwise, it can eat up your profit.</p></li>
                                                     <li><p><small></small>Don’t invest more than your capacity and always set a budget for investing.
</p></li>
                                                     <li><p><small></small>Don’t be greedy, try to figure out the right time to sell your stock.</p></li>
                                                     <li><p><small></small>Don’t get carried away and invest all your money in a particular stock. You may face a huge loss.
</p></li>


                                                 </ul>
                                             </div>

                                         </li>

                                     </ul>

                                 </div>

                             </div>

                             </div>
                             </div>
                         </div>

                     </div>

                 </div>

             </div>
{% endblock %}